.form{
  margin: 150px;
  background-color: orange;
  width: 600px;
  height: 600px;

  color: green;
  padding: 10px 50px 10px 10px;
}
input{
  padding: 5px;
  margin: 10px;
}
button{
  padding: 5px;
  margin: 10px;
}
