<!--<app-navbarcomponent></app-navbarcomponent>-->
<!--<app-event></app-event>-->
<!--<h1>Hello Here</h1>-->

<!--<div class="flex">-->
<!--  <pent-house></pent-house>-->
<!--  <welcome></welcome>-->
<!--</div>-->
<!--<app-flat-list></app-flat-list>-->
<!--<body>-->
<!--<app-animal-list class="color"></app-animal-list>-->
<!--</body>-->
<!--<app-product (OnProductSelection)="onProductSelection($event)"></app-product>-->
<!--<app-cart [products]="products"></app-cart>-->
<!--//<p>{{'ayush' | repeat:5}}</p>-->
<!--<app-trustee></app-trustee>-->
<app-book></app-book>
