
<div class="container p-5 m-3" *ngIf="events.length" >
  <div class="row" >
    <div class="col-sm-3" *ngFor="let event of events">
      <div class="card">
        <div class="card-header">
          <h2>{{event.name}}</h2>
        </div>
        <div class="card-body">
          <p>Id: {{event.id}}</p>
          <p>Price: {{event.price| currency:'INR'}}</p>
          <p><img src="{{event.imageURL}}" alt="eventImage" width="250px" height="100px" class="card-img-bottom"></p>
        </div>

      </div>
    </div>
  </div>

</div>
