<div class="card">


  <div class="card-header">To Do List</div>
  <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
    <input type="text" name="todo" id="todo"  #todo="ngModel" ngModel>

    <input type="submit" value="Add ToDo">
  </form>
  <ul>

    <div *ngFor="let todo of allTodos$ | async">

      <li  >
        <div class="row">
        <div class="col-6">
        {{todo.content}}
        </div>
        <div class="col-6">
          <button class="btn btn-danger mb-3"(click)="removeTodo(todo)">Remove</button>
        </div>
        </div>
      </li>

    </div></ul>
</div>
