<app-menu></app-menu>
<!-- <app-greetings>-->
<!--  <h1>hello world!!</h1>-->
<!--  <button class="btn btn-default">say hello</button>-->
<!--  <p>This is a para</p>-->
<!--</app-greetings>-->
<!--<app-greetings>-->
<!--  <h1 class="h2">Amit</h1>-->
<!--  <button class="btn btn-info">click here to see Amit's details</button>-->
<!--</app-greetings>-->
<!--<app-greetings>-->
<!--  <h1 att>Shalini</h1>-->
<!--  <button class="btn btn-warning">click here to see Shalini's details</button>-->
<!--</app-greetings>-->
<div class="container main-content">
    <router-outlet></router-outlet>
</div>
<!--<card-list></card-list>-->

